@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="text-decoration-none" href="https://docs.microsoft.com/aspnet/" target="_blank"><i class="fs-5 bx bx-user"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
