@page "/cards"
@using CopyLingo.Core.Models.Entities;


<div class="row ps-5 pb-5">
    <label class="txt-primary fs-4 fw-bold font1">Kartlar</label>
</div>

<div class="row ps-5">
    <div class="d-flex rectangle2 me-3">
        <div class="m-auto">
            <div class="fs-5">Kartlık1</div>
        </div>
    </div>
    <div class="d-flex rectangle2 me-3">
        <div class="m-auto">
            <div class="fs-5">Kartlık2</div>
        </div>
    </div>
    <div class="d-flex rectangle">
        <div class="m-auto">
            <i class="fs-3 bx bx-plus"></i>
        </div>
    </div>
</div>

@code{
    IList<Word> _wordList = new List<Word>();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    async Task NavList()
    {
        
    }
}