$theme-color: #875be1;
$theme-color2: #6e52ff;
$theme-color-danger:#d97486;
$theme-color-success: #5bd3a8;



$theme-color-hover: #6b3dc9;

$theme-font: 'Quicksand', sans-serif;
$theme-font2: 'Poppins', sans-serif;


